<a href="https://colab.research.google.com/github/pvvramakrishnarao234/classdump/blob/main/20BD1A6640_ML_Exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=2
b=3.0
c="Hello"
d=5
e=6.57
f="World"
g='g'

In [ ]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(g,type(g))

2 <class 'int'>
3.0 <class 'float'>
Hello <class 'str'>
g <class 'str'>

In [ ]:
print(f"Sum of 2 and 5 is {a+d}")
print(f"Sum of 2 and 3.0 is {a+b}")
print(f"Sum of strings {c+f}")

Sum of 2 and 5 is 7
Sum of 2 and 3.0 is 5.0
Sum of strings HelloWorld
Product of int and float is 32.85
Product of int and int is 10

In [ ]:
print(f"Difference of integer and integer is {a-d}")
print(f"Differnce of float and integer is {e-d}")
print(f"String multiplication {c*3}")

Difference of integer and integer is -3
Differnce of float and integer is 1.5700000000000003
String multiplication HelloHelloHello

In [ ]:
import math
a=10
b=20

In [ ]:
print(f"Addition is {a+b}")
print(f"Subtarction is {a-b}")
print(f"Multiplication is {a*b}")
print(f"Division is {a/b}")
print(f"Floor division is {a//b}")

Addition is 5.0
Subtarction is -1.0
Multiplication is 6.0
Division is 0.6666666666666666
Floor division is 0.0

In [ ]:
print(f"Bitwise or of a and b is {a|b}")
print(f"Bitwise and of a and b is {a&b}")
print(f"Logical and of a and b is {a and b}")
print(f"Logical or of a and b is {a or b}")

Bitwise or of a and b is 30
Bitwise and of a and b is 0
Logical and of a and b is 20
Logical or of a and b is 10

In [ ]:
print(f"GCD of a and b is {math.gcd(a,b)}")
print(f"logarithm is {math.log(a)}")

GCD of a and b is 10
logarithm is 2.302585092994046

In [ ]:
l=[1,2,3,4,5,6]

In [ ]:
print(f"Length of list is {len(l)}")
print(f"Sum of elements in a list {sum(l)}")
print(f"Max element in list is {max(l)}")
print(f"Min element in a list {min(l)}")
l.remove(5)
print(f"List after removing last element is {l}")

Length of list is 6
Sum of elements in a list 21
Max element in list is 6
Min element in a list 1
List after removing last element is [1, 2, 3, 4, 6]

In [ ]:
print("List slicing--->")
print(f"First element in the list {l[0]}")
print(f"Last element in the list {l[-1]}")
print(f"Second to fifth elements in the list {l[2:6]}")
print(f"Reversed list is {l[::-1]}")

List slicing--->
First element in the list 1
Last element in the list 6
Second to fifth elements in the list [3, 4, 6]
Reversed list is [6, 4, 3, 2, 1]

In [ ]:
d={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
print(d)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
d[6]="Six"
print("After updating the dictionary is: ")
print(d)

After updating the dictionary is:
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [ ]:
del d[1]
print("After deleting the first key-value pair the dictionary is ")
d

After deleting the first key-value pair the dictionary is

{2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}

In [ ]:
print("---Strings---")
s1="Hello"
s2="World"
s3=s1+" "+s2

---Strings---

In [ ]:
print(f"Concatenation of two strings hello and world is {s3}")
print(f"Fisrt character of s3={s3[0]}")
print(f"Sub-string starting from 2nd char to 5th char is {s3[2:6]}")
print(f"Last character is {s3[-1]}")

Concatenation of two strings hello and world is Hello World
Fisrt character of s3=H
Sub-string starting from 2nd char to 5th char is llo
Last character is d

In [ ]:
print("-----Tuples-----")
t=("Red","Blue","Green","Black","Yellow","Orange")
print(t,type(t))

-----Tuples-----
('Red', 'Blue', 'Green', 'Black', 'Yellow', 'Orange') <class 'tuple'>

In [ ]:
print(f"length of the tuple is {len(t)}")
print(f"First member of the tuple {t[0]}")
print(f"Last member of the tuple {t[-1]}")
print(f"Tuple elements from 2nd to 5th are {t[2:6]}")

length of the tuple is 6
First member of the tuple Red
Last member of the tuple Orange
Tuple elements from 2nd to 5th are ('Green', 'Black', 'Yellow', 'Orange')

In [ ]:
s=("White",)
t+=s
print(f"Updated tuple after adding white is {t}")

Updated tuple after adding white is ('Red', 'Blue', 'Green', 'Black', 'Yellow', 'Orange', 'White')

In [ ]:
y=list(t)
y.remove("Green")
t=tuple(y)
print(f"After deleting green new tuple is {t}")

After deleting green new tuple is ('Red', 'Blue', 'Black', 'Yellow', 'Orange', 'White')